nav {
  color: black;
  padding: 1rem;
  margin: 0 auto;
}

body {
  background: black;
}

footer {
  padding: 1rem;
  text-align: center;
}

footer a {
  color: green;
  transition-duration: 2s;
  padding: 1.5rem;
  font-size: 3rem;
  margin: 0 auto;
}


.jumbotron {
  color: rgb(78, 84, 94);
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url("img/succulent.jpg") fixed center no-repeat;
  background-size: cover;
  padding: 3rem;
  padding-top: 11rem;
  padding-bottom: 11rem;
  margin: 0 auto;
}

.about {
  color: white;
  text-align: center;
  align-content: center;
  background-color: black;
  padding: 2rem;
  margin: 0 auto;
}

.ocean {
  color: white;
  background:  linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url("img/underwater.jpg") center no-repeat;
  background-size: cover;
  padding: 3rem;
  margin: 0 auto;
}

.forest {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url("img/leaves.jpg") center no-repeat;
  background-size: cover;
  padding: 3rem;
  margin: 0 auto;
}

.computing {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url("img/computing.jpg") center no-repeat;
  background-size: cover;
  padding: 3rem;
  margin: 0 auto;
}

.computing a {
  color: white;
  text-decoration: none;
}
